.info{
    margin: 1%;
    width:99%;
    height: 100%;
    color: #717171;
    background-color: white;
  }
  
  table {
    border-collapse: collapse;
    text-align: inherit;
  }
  .table {
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
  }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  
  .table td,
  .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  .input {
    padding: 10px;
    width: 50%;
    margin: 5px;
    border-radius: 5px;
  }
  
  .btnStyle {
    background: #fff;
    color: #000;
    border: none;
    padding: 5px 9px;
    border-radius: 5px;
    cursor: pointer;
}

.btnStyleNew{
    font-size:x-large;
    background: #fff;
    color: #000;
    border:none;
    padding: 5px 9px;
    border-radius: 5px;
    cursor: pointer;
}

.form{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.title{
    text-align: center;
}

.building.Title {
    text-align: center;
    padding-top: 10px;
}

.formShow{
    margin:50px;
}
