.info{
    margin: 1%;
<<<<<<< HEAD
    width:99%;
=======
    width: 99%;
>>>>>>> b3d6b53... add functions
    height: 100%;
    color: #717171;
    line-height: 25px;
    background-color: white;
    box-shadow: 3px 3px 3px 3px dimgray;
}